---
comment: Personalizacion para Clockwork Tangerine
---

@import "{{ site.theme }}";

#banner #logo {
    background: url(/images/clockworktangerine-128.png);
    background-size: contain;
}

header > h1 > a {
    color: #f3f3f3;
}

#banner {
   background: #C8BFE7;
   border: 1px solid #fff;
}

#banner .button {
    border: 1px solid #fff;
    background: #A349A4;
}
